<header class="header">
  <a class="header__logo">
    <img class="header__logo-img" src="./img/logo.svg" width="46" height="38" alt="" />
  </a>

  <button class="header__burger burger" type="button">
    <span class="visually-hidden">Открыть меню</span>
    <span class="burger__line"></span>
  </button>

  <div class="header__menu menu">
    <%= navListTemplate({
      bemBlock: "menu"
    }) %>

    <div class="menu__footer">
      <a class="menu__link-footer" href="tel:+78003335599">8 (800) 333-55-99</a>

      <%= socialTemplate({
        bemClass: "menu__social"
      }) %>
    </div>
  </div>

</header>
