/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Цвета
$black: #000;
$white: #fff;
$grey: #ccc;

// Шрифты
$main-font: "Lato", "Arial", sans-serif;
$second-font: "Rubik", "Arial", sans-serif;
